{% extends "layout.html" %} {% block title %}Statistics{% endblock %} 
{% block content %}

<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-primary" data-header-animation="true">
        <canvas id="myChart"></canvas>
      </div>
      <div class="card-body">
          <div class="card-actions">
              <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Refresh">
                <i class="material-icons">refresh</i>
              </button>
              <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Change Date">
                <i class="material-icons">edit</i>
              </button>
          </div>
          <h4 class="card-title">Sales Call Reach (Thousands)</h4>
          <p class="card-category">Monthly Performance</p>
      </div>
      <div class="card-footer">
        <div class="stats">
            <i class="material-icons">access_time</i> Updated 2 days ago
        </div>
      </div>
  </div>
</div>

  <div class="col-md-6 ml-auto mr-auto">
    <div class="card card-chart">
      <div class="card-header card-header-warning" data-header-animation="true">
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>        </div>
      <div class="card-body">
          <div class="card-actions">
              <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Refresh">
                <i class="material-icons">refresh</i>
              </button>
              <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Change Date">
                <i class="material-icons">edit</i>
              </button>
          </div>
          <h4 class="card-title">Reached People Each Quarter</h4>
          <p class="card-category"></p>
      </div>
      <div class="card-footer">
        <div class="stats">
            <i class="material-icons">access_time</i> Updated 1 month ago
        </div>
      </div>
  </div>
</div>
</div>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card card-chart">
        <div class="card-header card-header" data-header-animation="true">
          <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
        <div class="card-body">
            <div class="card-actions">
                <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Refresh">
                  <i class="material-icons">refresh</i>
                </button>
                <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Change Date">
                  <i class="material-icons">edit</i>
                </button>
            </div>
            <h4 class="card-title">Yearly Sales Per Region (millions)</h4>
            <p class="card-category">Including only closed deals</p>
        </div>
        <div class="card-footer">
          <div class="stats">
              <i class="material-icons">access_time</i> Updated 1 week ago
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Oslo", "Bergen", "Trondenheim", "Kristiansand", "Stavanger"],
      datasets: [{
        label: "Sales (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [2478,5267,734,784,433]
      }]
    },
    options: {
      title: {
        display: false,
        text: 'Yearly Sales per region (millions)'
      }
    }
});
new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: ["Q1", "Q2", "Q3", "Q4"],
      datasets: [
        {
          label: "2019",
          backgroundColor: "#3e95cd",
          data: [133,221,783,2478]
        }, {
          label: "2019",
          backgroundColor: "#8e5ea2",
          data: [408,547,675,734]
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: 'Reached people per quarter'
      }
    }
});
</script>
{% endblock %}